.counter-result {
  height: 60px;
  min-width: 60px;
  padding: 0 15px;
  margin: 0px 30px 0px 30px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}
